

.body {
    position: fixed;
    /* background: url(/images/bg.png) center center; */
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    transform: translateZ(0);
    will-change: transform;
    overflow: scroll;
}


.navigationbar
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  /* gap: 20px; */
  /* padding: rem; */
}

.navigationbutton
{
 background-color: transparent;
 border: 0;
 color:white;
 /* font-weight: thin100; */
 font-size: 1.2rem;
 font-family: "Alumni Sans", sans-serif;
}
.navigationbutton:hover
{
color:white;
font-weight: bold;
}
.navigationbutton:active
{
font-weight: bold;
}

.logo
{
    font-family: "Playwrite NZ Guides", cursive;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding-top:rem; */
    /* padding-bottom: 2rem; */
}




.happybirthdayzone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.countdownzone
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: "BBH Sans Bartle", sans-serif;;
    font-size: 100;
    text-align: center;
   
}

.birthdaylist
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}



.birthdaybutton
{
  border-width: 3px;
  border-color: transparent;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: filter 0.25s ease;

}

.birthdaybutton img {
  display: block;           
  object-fit: cover;
}

.birthdaybutton:hover{
 border-width: 3px;
 border-color: white;
}